<!DOCTYPE html>
<html>
    <header>
        <title>404</title>
        <link rel="stylesheet" href="/CSS/styles.css">
        <script src="/JS/app.js"></script>
    </header>
    <body>
        <div class="main-content">
            {{>header}}
            <p> {{mess}}</p>
        </div>
        {{>footer}}
    </body>
</html>
