<!DOCTYPE html>
<html>
    <head>
        <title>about</title>
        <link href="CSS/styles.css" rel="stylesheet">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>This site was created by Christian Hall. It uses data from mapbox.com and darksky.net</p>
            <img class="portrait"src='/IMG/Christian.png'>
        </div>
        {{>footer}}
    </body>
</html>