<!DOCTYPE html>
<html>
    <head>
        <title>help</title>
        <link rel="icon" href="IMG/weather.png">
        <link href="CSS/styles.css" rel="stylesheet">
        
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>{{mess}}</p>
            
        </div>
        {{>footer}}
    </body>
</html>